body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    width: 100vw;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.nav-bar {
    width:60vw;
    display: flex;
    justify-content: space-between;

}
    
    
.hero {
    
    width:60vw;
    display:flex;
    
}

.hero-left,
.hero-right {
    flex:1;
}
